.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 300px;
    right: 100px;
    width: 50%;
    padding-top: -200px;
  
    height: 10%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
  
  }
  
  .modal-content {
  
    
    background: var(--primary-color);
    opacity: 0.98;
  color: white;
    border-radius: 20px;
    text-align: center;
    max-height: 70vh;
    overflow-y: auto;
    position: relative;
    overflow: auto; 
    scrollbar-width: none;
  }
  .modalbutton:hover{
  background-color: var(--hover-color);
  color: #ddd;
  }
  .modalbutton{
    color: 'red';
    background:var(--button-color);
   
    left: 100px;
    bottom: 0;
   
   
  }  
  .ratingScreen {


    padding-top: 50px;
  }
  
  .ulclass {
    list-style-type: none
  }