html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #root{padding: 0;
    height: 100%;}
  
  :root {
    
  --primary-color:#504e76;
  --secondary-color:#c4c3e3;
  /* --secondary-color:yellow; */
  --background-color:#fdf8e2;
  --hover-color:#f1642e;
  --button-color:#fcdd9d;
  --extra-color:#a3b565;
  
  }
  body {
    /* overflow: auto; this is exta check this */
    scrollbar-width: none; 
  }
  
  
  
  
  body {
    margin: 0;
    color: rgb(14, 12, 12);
    background-color: var(--background-color);
    /* background-color: #f1642e; */
    /* background-color: rgba(182, 252, 226, 0.72); */
    overflow-x: hidden;
  
  }
  







  .paynow {
    /* changed here */
    /* max-height: 50%; */
    /* max-height: 100%; */
    max-width: fit-content;
    /* added last line extra  */
    /* margin-left: auto;     padding: 100px; */
    height: 850px;
    width: 650px;
  }
  
  .bookdetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 30px;
    /* added this */
    flex-direction: column;
  
  }
  
  div .details {
    line-height: 40px;
  
  }
  
  .payrow {
  
    margin-top: 120px; max-width: 100%;
    max-height: 50%;
  
    /* margin-left: -198px;    check this later */
    background-color: #f9f9f9;
  }
  
  .containerbook {
    margin-right: -75px;
    margin-top: 200px
  }
  
  
  @media (max-width:800px) {
    .payrow {
      line-height: 2px;
      width: 100%;
      margin-left: -48px;
    }
  
    .paynow {
      display: flex;
      max-height: 100%;
      max-width: 100%;
      margin-right: 100px;
    }
  
    .details {
      line-height: normal;
    }
    .containerBook {
      margin-bottom: 40px;
        margin-left: 100px;
        margin-top: 100px;
        border-radius: 10px;
        width: auto;
        height: auto;
        line-height: 1px;
      }
  
    .containerbook {
      margin-bottom: 40px;
      margin-right: 100px;
      margin-top: 200px;
      border-radius: 10px;
    }
  }
  
  @media (max-width:400px) {
    .containerbook {
      margin-bottom: 40px;
      font-display: flex;
      flex-wrap: wrap;
  
      margin-right: 50px;
      margin-top: 100px;
      border-radius: 10px;
    }
  
    .rowbook {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -93px;
      margin-top: -118px;
    }
  
  }
  
  @media (max-width: 767px) {
    .containerbook {
      margin-bottom: 40px;
      margin-right: 100px;
      margin-left: 20px;
      margin-top: 100px;
      border-radius: 10px;
      width: auto;
      height: auto;
    }
  
    .row2 {
  
      margin-top: 150px;
      margin-left: 20px;
      width: 90%;
      flex-direction: column;
    }
  }
.paynow1{
  height: auto;
    width:auto;
    display: flex
;
    justify-content: center;
    align-items: center;
}



















  .home {
    color: black
  }
  
  
  h1 {
    font-size: 20px;
  }
  
  .btn {
    background-color: var(--button-color);
    
    /* background-color: black !important; */
    color: white;
    /* color: white !important; */
    box-shadow: none;
  }
  .btn:hover{
    background-color: var(--hover-color);
  }
  
  .bs {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 70px;
    border: 5px;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
  }
  
  
  .boxes {
    margin-top: 0px;
    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
  
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: #f9f9f9; */
    background-color: var(--secondary-color);
  }
  
  .room-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
  
  
  .button-container {
    margin-top: 10px;
    text-align: right;
  }
  
  .login {
    margin-top: 100px;
    padding-top: 20px;
  }
  
  /* bookscreen */
 
  /* registerScreen/login */
  .container {
    margin-bottom: 40px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    width: auto;
    height: auto;
    line-height: 1px;
  }
  
  /* loginScreen */
  .registerlogin {
    margin-bottom: -100px;
    height: 100vh;
  }
  
  
  
  .model {
    margin-top: 70px;
    height: 500px;
  }
  
  .custom-size {
    width: 500px;
    height: 300px;
    margin-top: auto;
  
  
  }
  
  
  /* adminscreen */
  .adminscreen {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 100px);
  }
  
  
  
  /* homeScreen */
  .row1 {
    margin-top: 150px;
    margin-left: 50px;
    width: 90%;
    background-color:var(--secondary-color);
  
  }
  
  row {
    padding-right: 200px;
    margin-left: -200px;
  }
  
  row2 {
    margin-left: -100px;
    margin-bottom: -100px
  }
  
  .container1 {
    margin-top: -20px;
  }
  
  /* @media (max-width:900px) {
    row {
      flex-direction: column;
      align-items: center;
    margin-left: 1000px;
    }
  
    .row1 {
  
      margin-top: 150px;
      margin-left: 20px;
      width: 90%;
      flex-direction: column;
  
    }
  
    .boxes {
      flex-direction: column;
      overflow: hidden;
  
    }
  
    .box1 {
      margin-left: 80px;
    }
  } */
  
  /* @media (max-width:1073px) {
    .row2 {
      max-width: 100%;
  
    }
  
    .box1 {
  
      margin-right: auto;
      margin-left: 5px ******** here -10px
    }
  } */
  
  
  input,
  select {
    box-shadow: none;
    margin-top: 10px;
    border: 2px solid black;
    width: 100%;
  
  }
  
  .ant-picker {
    border: none
  }
  
  
  
  /* profilesceen */
  .profile {
    padding-top: 80px;
  }
  
  /* admin screen */
  .adminscreen {
    padding-top: 69px;
  }
  
  
  
  /* bookscreen */
  @media (max-width:810px) {
    .payrow {
      line-height: 2px;
      width: 100%;
      margin: 50px;
  
    }
  
  
  
  
    .photo {
      text-align: center;
    }
  }
  /* adding two from working */
  .ratingScreen {
    padding-top: 50px;
  }
  .ulclass {
    list-style-type: none
  }
  
  
  
  
  @media (max-width:810px) {
    .bookdetails {
      line-height: 8px;
      font-size: small;
      text-align: center;
    }
  
  
    .bookdetails h1 {
      font-size: small;
      padding-bottom: 0px;
    }
  }
  
  
  
  
  
  /* pls check this needed or not */
  .adminrow {
    max-width: fit-content;
  }
  
  
  
  /* 
  @media (max-width:962px) {
    .row {
      width: 100%;
  
    }
    .boxes{
      max-width:100%;
    }
  
    .box1 {
  
      margin-right: auto;
      margin-left: 5px
    }
  } */
  
   @media (max-width:768px) {
    .row1 {
      margin-left: 40px;}}
  
  
      /* roomrating */
      .modal-overlay {
        position: fixed;
        z-index: 10;
        top: 300px;
        right: 100px;
        width: 50%;
        padding-top: -200px;
      
        height: 10%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
      
      }
      
       .modal-content {
      
        
        background: var(--primary-color);
        opacity: 0.98;
      color: white;
        border-radius: 20px;
        text-align: center;
        max-height: 70vh;
        overflow-y: auto; 
  
  
  
        /* position: relative; check */
        /* overflow: auto; check */
        scrollbar-width: none; 
  
  
      }
      .modalbutton:hover{
      background-color: var(--hover-color);
      color: #ddd;
      }
      .modalbutton{
        color: 'red';
        background:var(--button-color);
       
        left: 100px;
        bottom: 0;
       
       
      }  
      .ratingScreen {
    
    
        padding-top: 50px;
      }
      
      .ulclass {
        list-style-type: none
      }
     
      



    