
 #root{
  padding: 0;
 }
body{
  margin: 0;
  background-color: rgb(113, 111, 111);

}
.navbar{
  background-color: black;

  
}
.nav-link,.navbar-brand{
  color: white;
}
.navbar-nav{
  margin-left: auto;
}
.home{
  color:black
}




.smallimg{
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}
h1{
  font-size: 20px;
}
.btn{
  background-color: black !important;
  color: white !important;
  box-shadow: none;
}
.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 70px ;
  border: 5px !important;
  padding: 20px !important;
  border-radius: 30px;
}


.boxes {
margin-top: 0px;
width:80%;
height: 300px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  
  border: 1px solid #ddd; /* Optional: adds a border around each box */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
  margin-bottom: 20px;
  background-color: #f9f9f9; /* Optional: light background for each box */
}



.smallimg {
  width: 100%; 
  
  
  height: 280px;
  border-radius: 8px; 
  
}



.room-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

/* Button styling */
.button-container {
  margin-top: 10px;
  text-align: right;
}
.login{
  margin-top:100px;
  padding-top: 20px;
}
.bigimg{

  border-radius: 10px !important;
  width: 100%;
    height: 350px;
}

 .container{
  margin-bottom: 40px;
  margin-right: 100px;
  margin-right: 100px;
  margin-top: 100px; 
  border-radius: 10px;
  width: auto;
  height: auto;
  line-height:1px;

  
} 
.container2{
  margin-bottom: 40px;
  margin-right: 100px;
  margin-right: 100px;
  margin-top: 100px; 
  border-radius: 10px;
  width: auto;
  height: auto;
}
.registerlogin{
  margin-bottom: -100px;
}
.container1{
  margin-top: -20px;
 
}
.model{
  margin-top: 70px;
  height: 500px;
}
.custom-size {
  width: 500px;
  height: 300px;
  margin-top: auto;

 
}
.box2{
  width: 100%;
  margin-left: 30px;
}
.box1{
  width:120%;
}
.paynow{
  height: 500px;
}
.bookdetails{
  height: 300px;
  line-height: 20px;
}
.payrow{
  margin-left: 110px;
  margin-top: 120px;
  background-color: #f9f9f9;
}
.row1{
  margin-top:150px ;
  margin-left: 200px;

}