* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    /* background-color: var(--hover-color); */
    /* background-color: rgb(31, 111, 181); */
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;


}

header {
    position: sticky !important;

    top: 0;
    z-index: 1000;
}



/* Hero Section */
.hero-section {
    height: 100vh;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: -1;
    top: -50px;
    

}

/* .background-video {
    width: 100%;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    margin-top: -300px;
    margin-bottom: -490px;
} */


.hero {
    position: absolute;
    bottom: 25px;
    z-index: 3;

}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-align: center;

}

.hero p {
    font-size: 1.25rem;
    text-align: center;
}

/* .hero-content {
    position: absolute;
    margin-top: 500px;
    color: rgb(6, 6, 0);
    width: auto;
    height: 30px;
    background-color:whitesmoke;

} */

/* .clicking {
    cursor: 'pointer';
    padding: '10px 20px';
    background: '#007bff';
    color: '#fff';

    display: 'inline-block';
    text-align: 'center';
    font-size: '16px';

} */
/* .hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: slide 15s infinite linear;
  }
   */
  /* @keyframes slide {
    0% { background-image: url('../assets/hotel1.jpg'); }
    33% { background-image: url('../assets/hotel.jpg'); }
    66% { background-image: url('../assets/hotel3.jpg'); }
    100% { background-image: url('../assets/hotel1.jpg'); }
  }
   */