.navbar{
    background-color: black;
  
    
  }
  .navbar {
    position: fixed; /* Change to fixed */
    top: 0; 
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent */
    color: white;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
    transition: background-color 0.3s;
  }
  
  .navbar:hover {
    background-color: rgba(63, 59, 59, 0.8); /* Darker on hover */
  }
  
  .logo {
  
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #f39c12;
  }
  .nav:hover{
    color:red;
  }
  
  
  
  
  .nav-link,.navbar-brand{
    color: white;
  }
  .navbar-nav{
    margin-left: auto;
  }